

#carocard{
    border: 2px solid #ddd;
    margin: auto;
    border-radius: 10px;
    margin-top: -50px;
    width:40%;
    background-color: white;
    box-sizing: border-box;
}
#cards1{
    margin-left: 20px;
    width: 70%;
    background-color:rgb(212, 227, 200);
    box-sizing: border-box;
}

#bgcarocard{
    background-color: white;
    border-top-right-radius: 10px;
    padding: 20px;
}


#bgcarocard1{
    background-color: white;
    border-top-left-radius: 10px;
    
}

#cardcaroa{
    color: black;
}

#cardcaroa:hover{
    color: black; 
    text-decoration: none;
}

#cardtxt{
    margin-top: 10px;
}

#carocardhomeimg{
    box-sizing: border-box;
    margin-left: 35px;
    margin-top: -45px;
}

#carocarda{
    color:black;
    text-align: center;
   
    margin-left: 13px;
    box-sizing: border-box;
}

#iconn{
    margin-left: 10px;
}

#butcarocard{

    margin-left: 20px;
    border-radius: 10px;
    font-size: 15px;
    color: white;

}

#butcarocardc{
    background-color:rgb(212, 227, 200);
}

#butcarocard1{
   width: 100px;
    margin-left: 85px;
    border-radius: 20px;
    background-color: orangered;
    font-size: 16px;
    padding: 5px;
    color: white;
    border: 1px solid #ddd;
    padding: 8px;

}

#mid{
    font-family: 'Times New Roman', Times, serif;
    border-radius: 20px;
    font-size: 12px;
    padding: 5px;
    background-color:rgb(212, 227, 200);
   border: 1px solid #ddd;
   margin-left: -20px;
   margin-bottom: 10px;
   text-align: center;
}

#mid2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 11px;
   margin-bottom: 10px;
   margin-left: -10px;
   color: rgb(147, 147, 147);
}

#mid1{
    font-family: 'Times New Roman', Times, serif;
    border-radius: 20px;
    font-size: 12px;
    padding: 5px;
    background-color:rgb(212, 227, 200);
   border: 1px solid #ddd;
   margin-left: 60px;
   margin-bottom: 10px;
   text-align: center;
}

#butcarocard2{
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    
}

#sell{
    margin-top: 19px;
}

#hk{
  
    margin-bottom: -10px;
    margin-left: 130px;
    height: 20px;
}

@media (max-width : 360px)
{
    #cards1{
        height: 150px;
        margin-left: 20px;
        width: 85%;
        background-color:rgb(212, 227, 200);
        box-sizing: border-box;
    }
    #carocard{
        border: 2px solid #ddd;
        margin: auto;
        border-radius: 10px;
        margin-top: -50px;
        width:90%;
        background-color: white;
        box-sizing: border-box;
    }
    #carocardhomeimg{
        box-sizing: border-box;
        margin-left: 100px;
        margin-top: -45px;
    }
    #cardcaroa{
        color: black;
        margin-left: 70px;
    }
    #mid{
        font-size: 15px;
        margin-left: 40px;
     
    }
    #mid1{
        font-size: 15px;
        margin-left: 40px;
     
    }
    #mid2{
        font-size: 15px;
        margin-left: 30px;
     
    }
    #bb{
        font-size: 13px;
    }
    #hk{
        margin-left: 130px;
    }
    #butcarocard1{
        margin-left: 90px;
     
     }
}





